.contactus-div{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
      
    display:-moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex:1;
      
    display:-o-box;
    -o-box-orient:vertical;
    -o-box-flex:1;
  
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
  
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
  
    float: left;
    width:14rem;
    height: 13.5%;
    position: fixed;
    margin-top: 50px;
    margin-left: 1100px;
    background:#fff;
    box-shadow: 2px 3px 3px #5e5a5a;
    border: 1px solid #c4bfbf;
    overflow: hidden;
    clear: both;
    top:0;
  }


  .contactus-unit{
    width: 100%;
    text-align: left;
    padding: 0.7rem;
    border-bottom: 1px solid #cac3c3;
  }


  @media screen and (max-width: 1140px){
    .contactus-div{
      margin-left: 800px;
    }
  }
