.dashboard{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
      
    display:-moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex:1;
      
    display:-o-box;
    -o-box-orient:vertical;
    -o-box-flex:1;
  
    display: -ms-flexbox;
    -ms-flex-direction: row;
    flex-direction: row;

    display: flex;
    display:-webkit-flex;
    flex-direction: column;

    width:100%;
    position:absolute;
    left: 0%;
    text-align: center;   
  }

@media screen and (max-width: 900px){

}
