footer{
    display:-webkit-box;
    -webkit-box-orient:vertical;
  
    display:-moz-box;
    -moz-box-orient:vertical;
  
    display:-o-box;
    -o-box-orient:vertical;
  
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
  
    display: flex;
    flex-direction: column;
  
    color: white;
    margin: 0 0 0rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  
    height: 29rem;
    background:#e4e1e1;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    // width:100%;
    // position: relative;
    // position:fixed;
    // left:0;
    // bottom:0;
    // text-align:center;
  }
  
  .newsletterDiv{
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-box-flex:1;
      -webkit-box-pack:center;
      
      display:-moz-box;
     -moz-box-orient:vertical;
     -moz-box-flex:1;
     -moz-box-pack:center;
     
     display:-o-box;
     -o-box-orient:vertical;
     -o-box-flex:1;
     -o-box-pack:center;
    
     background:#e4e1e1;
     text-align: center;
     width:100%;
     height: 95%;
     margin-top: 4rem;
    }
    
    .newsletterDiv table tr td{
      padding: 0.3em;
    }
    
    .newsletterDiv table tr th{
      color:black;
    }
    
    .newsletterDiv table{
      width:100%;
    }
    
    .newsletterDiv table tr td a{
      color:black;
      font-size: 0.84em;
    }
    
    .newsletterDiv table tr td a:hover{
      color:#555353
    }
    
    .newsLetterEmail{
      min-height: 30px;
      width:70%;
      border-radius: 0.43em;
    }
    
    .submitNewsletter{
      background: $brand-hover;
      color: #ffffff;
      padding: 0.3em;
      font-size: 0.95rem;
      // border-radius:0.34em;
      border:none;
    }
    
    .submitNewsletter:hover{
      background:#be72b8;
      color:#ffffff;
    }
    
    .social-icon-link{
      margin-right: 0.7em;
    }
    
    .copyright-div{
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-box-flex:1;
      -webkit-box-pack:center;
      
      display:-moz-box;
     -moz-box-orient:vertical;
     -moz-box-flex:1;
     -moz-box-pack:center;
     
     display:-o-box;
     -o-box-orient:vertical;
     -o-box-flex:1;
     -o-box-pack:center;
     
      // padding:0.85em;
      background:#e4e1e1;
      color:#837f7f;
      width:100%;
    }
  
  
  .social-icon-link{
    font-size:23px;
    color:white;
    padding:0.43em;
    border-radius:100%;
  }
  
  .social-icon-linkk{
    font-size:0.86rem;
    color:#635f5f;
    padding:0.23em;
    border-radius:100%;
  }
  
  .social_color{
    color: #635f5f;
  }
  .footer__smallscreen{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1;
  
    display:-moz-box;
    -moz-box-orient:vertical;
    -moz-box-flex:1;
  
    display:-o-box;
    -o-box-orient:vertical;
    -o-box-flex:1;
  
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
  
    display: flex;
    flex-direction: column;
    
    display:none;
    width:100%;
  }
  
  .footerIconsTable{
    width:92%;
  }
  .smallDevIcon{
    text-align: right;
    width:50%;
  }
  
  .smallDevIconText{
    text-align: left;
    color:#635f5f;
  }
  
  .footerTalk{
    font-size: $small-text;
    color:#837f7f;
    line-height: 1.7rem;
    margin:3% 2%;
  }
  
  .copyright-text{
    font-size: $small-text;
  }
  
  .headersoclin{
    color:#837f7f;
  }
  
  .first__link{
    text-align: center;
  }
  
  .first__linker{
    font-weight: 500;
  }
  
  @media screen and (max-width: 700px){
    .footer__smallscreen{
      height:90%;
      background:#e4e1e1;
      
      display:block;
    }
    .footer{
      background: #e4e1e1;
    }
    .newsletterDiv{
      display: none;
      background: #e4e1e1;
      height:95%;
    }
    .copyright-div{
      height:5%;
    }
  }
  
  @media screen and (max-width: 400px){
    .footer__smallscreen{
      height:85%;
      background:#e4e1e1;
      
      display:block;
    }
  
    footer{
      display:-webkit-box;
      -webkit-box-orient:vertical;
    
      display:-moz-box;
      -moz-box-orient:vertical;
    
      display:-o-box;
      -o-box-orient:vertical;
    
      display: -ms-flexbox;
      -ms-flex-direction: column;
      flex-direction: column;
    
      display: flex;
      flex-direction: column;
    
      color: white;
      margin: 0 0 0rem;
      text-align: center;
    
    
      height: 29rem;
      background:#e4e1e1;
      // width:100%;
      // position: relative;
      // position:fixed;
      // left:0;
      // bottom:0;
      // text-align:center;
    }
  }
  