.hair-care-div{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex:1;
      
    display:-moz-box;
    -moz-box-orient: vertical;
    -moz-box-flex:1;
      
    display:-o-box;
    -o-box-orient:vertical;
    -o-box-flex:1;
  
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
  
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
  
    float: left;
    width:20rem;
    height: 100%;
    position: fixed;
    margin-top: 50px;
    margin-left: 220px;
    background:#fff;
    box-shadow: 2px 3px 3px #5e5a5a;
    border: 1px solid #c4bfbf;
    overflow: hidden;
    clear: both;
    top:0;
  }
