$brand-font: "CenturyGothic","HelveticaNeue","Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif; 
$brand-font2: "CenturyGothic","HelveticaNeue","Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif;
$brand-hover:#9b4794;
$brand-foreground: #f1f1f1;
$brand-complimentary: #6e6868;
$brand-header: #9995d6;
$brand-button: #9995d6;
$brand-text: #d4cccc;
$brand-text2:#837f7f;
$medium-screen: 900px;
$small-text:0.8rem;
$text-color:#868282;
$article-background:#f7f5f5;
$article-foreground:#7c7878;
